@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@layer base {
    body {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #19191A;
        border-radius: 30px;
    }
}



html,
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.Loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.profile_title {

    /* Heading/H5 */

    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.line_ {
    /* Line 11 */
    width: 100%;
    height: 0;
    border: 0.5px solid #444444;
}

/* 7.591.751 TAXI */


.header_right {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;

    color: #939393;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}


.level_header {
    /* Description */

    width: 60px;
    height: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.01em;

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}


.ant-progress-text {
    display: none !important;
    color: white !important;
}

.btn_text_ {
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    /* identical to box height */

    border-color: #9845E8 !important;
    background-clip: text;
}